@import 'tailwindcss';
@import 'material-symbols';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .bg-background-dark {
    background-color: var(--foreground);
    color: var(--background);
  }

  .bg-background-light {
    background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-moderat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgb(248 250 252 / var(--tw-bg-opacity, 1));
  color: var(--foreground);
  font-family: 'Moderat', 'Moderat Fallback';
}
